<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reef"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgetprovider.focustronic1elementwidget.Focustronic1ElementWidget_1"
            android:label="Focustronic One Element Widget - 1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.focustronic1elementwidget.Focustronic1ElementWidget_2"
            android:label="Focustronic One Element Widget - 2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.focustronic1elementwidget.Focustronic1ElementWidget_3"
            android:label="Focustronic One Element Widget - 3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.focustronic1elementwidget.Focustronic1ElementWidget_4"
            android:label="Focustronic One Element Widget - 4"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.focustronic1elementwidget.Focustronic1ElementWidget_5"
            android:label="Focustronic One Element Widget - 5"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.Focustronic2RectangleWidget"
            android:label="Focustronic Two Rectangle Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focustronic_2_rectangle_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.FocustronicSingleValueType1"
            android:label="Focustronic Single Value Type 1 Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focustronic_single_value_type_1_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.FocustronicSingleValueType2"
            android:label="Focustronic Single Value Type 2 Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focustronic_single_value_type_2_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.FocustronicGridWidget"
            android:label="Focustronic Grid Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focustronic_grid_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexTwoRectangleWidgetProvider"
            android:label="Apex Two Rectangle Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_two_rectangle_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexWaterQualityWidgetProvider"
            android:label="Apex Water Quality Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_water_quality_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexCircleWidgetProvider"
            android:label="Apex Circle Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_circle_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexFlaskBackgroundWidgetProvider"
            android:label="Apex flask Background Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_flask_background_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexPowerValueWidgetProvider"
            android:label="Apex Power Value Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_power_value_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexSingleValueType1Provider"
            android:label="Apex Single Value Type 1 Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_single_value_type1_widget_info" />
        </receiver>

        <receiver
            android:name=".widgetprovider.ApexSingleValueType2Provider"
            android:label="Apex Single Value Type 2 Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apex_single_value_type2_widget_info" />
        </receiver>

<!--        <receiver-->
<!--            android:name=".widgetprovider.ApexGraphWidgetProvider"-->
<!--            android:label="Apex Graph Widget"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/apex_graph_widget_info" />-->
<!--        </receiver>-->

        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

    </application>

</manifest>